<?xml version="1.0" ?>
<robot name="starlink_combine_qf_space_manipulator">
  <link name="starlink_base_star_link">
    <inertial>
      <origin xyz="0.064043 0.049818 0.075117" rpy="0 0 0"/>
      <mass value="365.27"/>
      <inertia ixx="166.05" ixy="0.9609" ixz="-0.9195" iyy="43.737" iyz="0.18316" izz="207.92"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/base_star_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1"/>
        <texture filename="./textures/1.png"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/base_star_link.STL"/>
      </geometry>
    </collision>
  </link>
  <link name="starlink_panel_Link">
    <inertial>
      <origin xyz="0.18387 4.5116E-05 0.0089121" rpy="0 0 0"/>
      <mass value="146.07"/>
      <inertia ixx="45.09" ixy="7.5802E-12" ixz="-2.6455E-06" iyy="9.2979" iyz="-4.89E-13" izz="54.377"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/panel_Link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1"/>
        <texture filename="./textures/5.png"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/panel_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="starlink_panel" type="fixed">
    <origin xyz="3.1501 0.12613 0.143" rpy="0 0 0"/>
    <parent link="starlink_base_star_link"/>
    <child link="starlink_panel_Link"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="qf_space_manipulator_base_link">
    <inertial>
      <origin xyz="-8.3266726846887e-17 4.262048797221138e-08 0.05547449256466818" rpy="0 0 0"/>
      <mass value="1.8705992689783575"/>
      <inertia ixx="0.007467134758127188" ixy="3.962441480050754e-08" ixz="-3.9964728740718214e-18" iyy="0.007467356800846642" iyz="1.2124935629597831e-10" izz="0.008044522017158898"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/base_link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/base_link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <link name="qf_space_manipulator_Shoulder_link_1">
    <inertial>
      <origin xyz="0.0001873877406636024 -0.0560957668949283 0.07324881240419939" rpy="0 0 0"/>
      <mass value="1.1984038207793077"/>
      <inertia ixx="0.004269767839534582" ixy="-0.0002707195846416558" ixz="5.4154184705179955e-06" iyy="0.0025747153069159284" iyz="4.405349010800451e-05" izz="0.0034248187446314707"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Shoulder_link_1.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Shoulder_link_1.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Shoulder_link_1_yaw" type="revolute">
    <origin xyz="0.0 0.0 0.138" rpy="0 0 0"/>
    <parent link="qf_space_manipulator_base_link"/>
    <child link="qf_space_manipulator_Shoulder_link_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="qf_space_manipulator_Upper_arm_Link_1">
    <inertial>
      <origin xyz="0.002441043273464352 0.2205905443133988 0.40773711417445796" rpy="0 0 0"/>
      <mass value="1.237014435999411"/>
      <inertia ixx="0.03894557489608943" ixy="-2.612050638302112e-07" ixz="-6.591223634505734e-07" iyy="0.03140206679365642" iyz="-0.015797715902448047" izz="0.010750455290075659"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Upper_arm_Link_1.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Upper_arm_Link_1.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Upper_arm_Link_1_roll" type="revolute">
    <origin xyz="0.0939119999999994 -0.1199999999999106 0.07800000000001318" rpy="0.49087385 0 0"/>
    <parent link="qf_space_manipulator_Shoulder_link_1"/>
    <child link="qf_space_manipulator_Upper_arm_Link_1"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="qf_space_manipulator_Mid_arm_Link_1">
    <inertial>
      <origin xyz="-0.07202896226904959 -0.23462048075149497 0.20232934585705917" rpy="0 0 0"/>
      <mass value="4.394192754343932"/>
      <inertia ixx="0.1059897314774137" ixy="0.00843132043090879" ixz="-0.007270962772476756" iyy="0.05055564321673254" iyz="0.05098470471532277" izz="0.06570919240187209"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Mid_arm_Link_1.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Mid_arm_Link_1.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Mid_arm_Link_1_roll" type="revolute">
    <origin xyz="-0.0054119999999258095 0.3426103217692296 0.63325995246783" rpy="0.22089323 0 0"/>
    <parent link="qf_space_manipulator_Upper_arm_Link_1"/>
    <child link="qf_space_manipulator_Mid_arm_Link_1"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="qf_space_manipulator_Upper_wrist_Link_1">
    <inertial>
      <origin xyz="-0.015986247367529217 -0.0001364242591028742 0.01337195517729282" rpy="0 0 0"/>
      <mass value="0.30509485903504074"/>
      <inertia ixx="0.0003071178350390054" ixy="8.701728806499195e-08" ixz="1.7717534066814574e-07" iyy="0.0003080149872611991" iyz="5.971535332933144e-07" izz="0.0001548467555063545"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Upper_wrist_Link_1.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Upper_wrist_Link_1.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Upper_wrist_Link_1_yaw" type="revolute">
    <origin xyz="0.0645000000001698 -0.4422422903588208 0.38137472592349375" rpy="0.859166812179351 0 0"/>
    <parent link="qf_space_manipulator_Mid_arm_Link_1"/>
    <child link="qf_space_manipulator_Upper_wrist_Link_1"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="qf_space_manipulator_Upper_wrist_Link_2">
    <inertial>
      <origin xyz="-0.01337195520990408 -0.015986247386804757 0.00013642433957543578" rpy="0 0 0"/>
      <mass value="0.3050948590124234"/>
      <inertia ixx="0.00015484671165087236" ixy="-1.7717465685183088e-07" ixz="5.971791414905609e-07" iyy="0.0003071178219615627" iyz="-8.701952476591415e-08" izz="0.0003080150148215764"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Upper_wrist_Link_2.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Upper_wrist_Link_2.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Upper_wrist_Link_2_roll" type="revolute">
    <origin xyz="-0.08760000000024659 0.0 0.058200000000027535" rpy="-1.5463902 0 0"/>
    <parent link="qf_space_manipulator_Upper_wrist_Link_1"/>
    <child link="qf_space_manipulator_Upper_wrist_Link_2"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="qf_space_manipulator_2F-Body_Link">
    <inertial>
      <origin xyz="-7.3535263516388996e-06 0.013015999965250678 -5.89123300809291e-07" rpy="0 0 0"/>
      <mass value="0.08627345743213395"/>
      <inertia ixx="9.82059492816081e-05" ixy="-1.1571679385565587e-08" ixz="-6.268185855415613e-10" iyy="1.6259548230766846e-05" iyz="5.674971706835835e-09" izz="9.630320869146766e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/2F-Body_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/2F-Body_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_2F-Body_Link_pitch" type="revolute">
    <origin xyz="-0.05819999999999988 -0.1008 0.0" rpy="0 1.5708 0"/>
    <parent link="qf_space_manipulator_Upper_wrist_Link_2"/>
    <child link="qf_space_manipulator_2F-Body_Link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="qf_space_manipulator_Finger1_2_Link">
    <inertial>
      <origin xyz="-0.002928886837678722 -0.02080036002662166 0.02237336915320068" rpy="0 0 0"/>
      <mass value="0.006898141202937839"/>
      <inertia ixx="1.563644237748095e-06" ixy="2.4774461286736103e-10" ixz="-5.030921466311523e-11" iyy="3.2988588902804284e-07" iyz="3.9291550189599943e-07" izz="1.5499063827923138e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger1_2_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger1_2_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Finger1_2_Link_roll" type="revolute">
    <origin xyz="0.00282 -0.0327978 0.018360599999999998" rpy="0 0 0"/>
    <parent link="qf_space_manipulator_2F-Body_Link"/>
    <child link="qf_space_manipulator_Finger1_2_Link"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
    <mimic joint="qf_space_manipulator_Finger3_2_Link_roll" multiplier="-1" offset="0"/>
  </joint>
  <link name="qf_space_manipulator_Finger3_2_Link">
    <inertial>
      <origin xyz="-0.006719990302461299 -0.02760730931189286 0.01604085321845838" rpy="0 0 0"/>
      <mass value="0.005448926166982977"/>
      <inertia ixx="1.3070381003854666e-06" ixy="1.7706249344666417e-12" ixz="-9.764829633015027e-13" iyy="5.277395506227525e-07" iyz="5.471138879516409e-07" izz="1.1542277528899326e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger3_2_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger3_2_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Finger3_2_Link_roll" type="revolute">
    <origin xyz="0.006599999999999999 -0.0367068 0.007619999999999999" rpy="0 0 0"/>
    <parent link="qf_space_manipulator_2F-Body_Link"/>
    <child link="qf_space_manipulator_Finger3_2_Link"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="qf_space_manipulator_Finger4_2_Link">
    <inertial>
      <origin xyz="-0.004860000011714543 0.001088861214170976 0.0050806473009610735" rpy="0 0 0"/>
      <mass value="0.001559431360890557"/>
      <inertia ixx="5.088652336904829e-08" ixy="-9.495334977451271e-17" ixz="-5.152565495562654e-14" iyy="5.037492533898669e-08" iyz="-1.19782087612523e-08" izz="3.276964262183369e-08"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger4_2_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger4_2_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Finger4_2_Link_roll" type="revolute">
    <origin xyz="-0.0018599999999999999 -0.051864 0.030168599999999997" rpy="0 0 0"/>
    <parent link="qf_space_manipulator_Finger3_2_Link"/>
    <child link="qf_space_manipulator_Finger4_2_Link"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
    <mimic joint="qf_space_manipulator_Finger3_2_Link_roll" multiplier="-1" offset="0"/>
  </joint>
  <link name="qf_space_manipulator_Finger3_1_Link">
    <inertial>
      <origin xyz="-0.006599990028364439 -0.02769782282108232 -0.015884050448455138" rpy="0 0 0"/>
      <mass value="0.005448925989361684"/>
      <inertia ixx="1.3070380048485743e-06" ixy="1.7428874498843821e-12" ixz="1.052335201981121e-12" iyy="5.236277583286537e-07" iyz="-5.447390830965181e-07" izz="1.158339441378255e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger3_1_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger3_1_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Finger3_1_Link_roll" type="revolute">
    <origin xyz="0.006599999999999999 -0.0367068 -0.007619999999999999" rpy="0 0 0"/>
    <parent link="qf_space_manipulator_2F-Body_Link"/>
    <child link="qf_space_manipulator_Finger3_1_Link"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
    <mimic joint="qf_space_manipulator_Finger3_2_Link_roll" multiplier="-1" offset="0"/>
  </joint>
  <link name="qf_space_manipulator_Finger4_1_Link">
    <inertial>
      <origin xyz="-0.004859999988285402 0.001088861214171108 -0.005080647300960936" rpy="0 0 0"/>
      <mass value="0.0015594313608905915"/>
      <inertia ixx="5.088652336904923e-08" ixy="9.495309359783266e-17" ixz="-5.1525655127137653e-14" iyy="5.03749253389877e-08" iyz="1.1978208761252142e-08" izz="3.2769642621834614e-08"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger4_1_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger4_1_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Finger4_1_Link_roll" type="revolute">
    <origin xyz="-0.0017399999999999998 -0.0520632 -0.0298236" rpy="0 0 0"/>
    <parent link="qf_space_manipulator_Finger3_1_Link"/>
    <child link="qf_space_manipulator_Finger4_1_Link"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
    <mimic joint="qf_space_manipulator_Finger3_2_Link_roll" multiplier="-1" offset="0"/>
  </joint>
  <link name="qf_space_manipulator_Finger1_1_Link">
    <inertial>
      <origin xyz="-0.0028183607988748857 -0.020948448828081362 -0.022234772691670318" rpy="0 0 0"/>
      <mass value="0.006898141207592574"/>
      <inertia ixx="1.5636442405946787e-06" ixy="-2.480731735994959e-10" ixz="-4.866317365612504e-11" iyy="3.247222855918312e-07" iyz="-3.847807525002366e-07" izz="1.5550699896759747e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger1_1_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="./meshes/Finger1_1_Link.STL" scale="0.6 0.6 0.6"/>
      </geometry>
    </collision>
  </link>
  <joint name="qf_space_manipulator_Finger1_1_Link_roll" type="revolute">
    <origin xyz="0.00282 -0.0327978 -0.018360599999999998" rpy="0 0 0"/>
    <parent link="qf_space_manipulator_2F-Body_Link"/>
    <child link="qf_space_manipulator_Finger1_1_Link"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
    <mimic joint="qf_space_manipulator_Finger3_2_Link_roll" multiplier="1" offset="0"/>
  </joint>
  <joint name="starlink_qf_space_manipulator_connection_joint" type="fixed">
    <parent link="starlink_base_star_link"/>
    <child link="qf_space_manipulator_base_link"/>
    <origin xyz="-0.4 0.8 0" rpy="0 0 -1.574"/>
  </joint>
</robot>